* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh
}

header {
    background-color: steelblue;
    text-decoration: none;
    list-style: none;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: steelblue;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    height: 10vh;
    background-color: steelblue;
}

p {
    text-align: center;
}